.formWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 640px) {
    width: 50%;
  }

  @media (min-width: 768px) {
    width: 50%;
    max-width: 40rem;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 640px) {
    max-width: 34rem;
  }

  @media (min-width: 768px) {
    max-width: 40rem;
  }
}

.formTitle {
  text-align: center;
  font-size: 2rem;
  color: #fff;

  @media (min-width: 1024px) {
    font-size: 2.4rem;
  }

  @media (min-width: 1440px) {
    font-size: 3rem;
  }
}

.message {
  margin-bottom: 0.9rem;
  padding: 1rem;
  width: 92%;
  max-width: 39rem;
  height: 18rem;
  border-radius: 0.8rem;
  outline: none;
  font-size: 1.8rem;
  color: #000;

  @media (min-width: 640px) {
    height: 24rem;
  }

  @media (min-width: 768px) {
    width: 95%;
    max-width: 40rem;
  }
}

.btn {
  align-self: center;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: #6f48eb;

  @media (min-width: 1024px) {
    font-size: 1.8rem;
  }
}